@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To see the Custom Numbers, click <a asp-page="CustomNumbers/Index"> here</a> or use the navigation bar.</p>
</div>
